@(employer: model.Employer, jobs: List[model.Job])(implicit request: play.api.mvc.RequestHeader)

@page("Your dashboard") {

    <div class="banner">
      <h1>My Dashboard</h1>
      <p>Hello @employer.name. This is your dashboard for managing and creating new job posts.</p>
    </div>

    @if(jobs.isEmpty) {
     <div class="info">
       You haven't posted any jobs yet. Let's <a href="@routes.Jobs.standard()">create one</a>
     </div>
    } else {
        @employers.dashboards.jobs(jobs)
    }
}