@(job: model.Job, form: Form[model.JobPartial])(implicit messages: Messages, request: play.api.mvc.RequestHeader)

@page("Create a job post") {

<p>Use the form below to edit your job posting.</p>

<div class="job-form">
    @helper.form(action = routes.Jobs.update(job.id.get)) {

    @if(form.hasErrors) {
    <div class="alert alert-error">
        <a class="close" data-dismiss="alert">x</a>
        @if(form.errors.size > 0) {
        <p>We found @form.errors.size errors with the form</p>
        }
    </div>
    }

    <div class="row">

        <div class="col-md-6">

            <h3>About the role</h3>

            <div class="field">
                @helper.inputText(form("title"), '_label -> "Job title", 'value -> job.title)
            </div>

            <div class="field">
                @helper.textarea(form("description"), '_label -> "Job description", 'value -> job.description)
            </div>

            <div class="field">
                @helper.textarea(form("skills"), '_label -> "Skills and requirements")
            </div>

            <div class="field">
                <label>Job Type</label>
                <ul class="contracts">
                    @model.ContractType.all.map { contract =>
                    <li class="radio">
                        @if(contract.intValue == 1) {
                        <input type="radio" name="contract" value="@contract.intValue" checked="checked">
                        } else {
                        <input type="radio" name="contract" value="@contract.intValue">
                        }
                        <span>@contract.name</span>
                    </li>
                    }
                </ul>
            </div>

        </div>

        <div class="col-md-6">

            <h3>Location</h3>
            <div class="field">
                <p>Does this job allow remote working?</p>
                @helper.checkbox(form("remote"), 'label -> "Allow remote work")
            </div>

            <div class="field">
                <label>City</label>
                <input type="text" id="city" name="city" placeholder="e.g New York"/>
            </div>

            <div class="field">
                <label>Country</label>
                <div>
                    @jobs.countries()
                </div>
            </div>
        </div>

        <div class="col-md-12 push">
            <input type="submit" class="button button-medium" value="Submit"/>
        </div>
    </div>
    }
</div>
}