@(form: Form[model.JobPartial])(implicit messages: Messages, token: play.filters.csrf.CSRF.Token)

@import helper.CSRF

@helper.form(CSRF(routes.Jobs.create)) {

  <div class="field">
    @helper.inputText(form("title"), '_label -> "Job title", 'placeholder -> "e.g Senior Software Engineer")
  </div>

  <div class="field">
    @helper.textarea(form("description"), '_label -> "Job description", 'placeholder -> "A description about the role...")
  </div>

  <div class="field">
    @helper.inputText(form("location"), '_label -> "Location", 'placeholder -> "City, State/Country")
  </div>

  <div class="field">
    @helper.textarea(form("application"), '_label -> "How to apply (optional)")
  </div>

  <div class="field">
    @helper.inputText(form("salary"), '_label -> "Salary (optional)", 'placeholder -> "e.g $30-40k")
  </div>

  <h2>Role Type</h2>

  <div class="field">
    <ul>
      <li><label class="checkbox"><input type="checkbox" id="remote" name="remote" value="true">Remote</label></li>
      <li><label class="checkbox"><input type="checkbox" id="contract" name="contract" value="true">Contract</label></li>
    </ul>
  </div>

  <h2>Your Company</h2>

  <div class="field">
    @helper.inputText(form("employer"), '_label -> "Company name", 'placeholder -> "e.g Facebook")
  </div>

  <div class="col-md-12 push">
    <input type="submit" class="button button-medium" value="Submit"/>
  </div>

}