@(form: Form[forms.StandardJob])(implicit messages: Messages)

@helper.form(action = routes.Jobs.create) {

<div class="row">
    <div class="col-md-6">

        <h3>About the role</h3>

        <div class="field">
            <label>Job Title</label>
            <input type="text" placeholder="Senior software engineer"/>
        </div>

        <div class="field">
            <label>Description (short job description)</label>
            <textarea></textarea>
        </div>

        <div class="field">
            <label>Skills and requirements</label>
            <textarea></textarea>
        </div>

        <!--<div class="field">-->
        <!--<label>Programming languages</label>-->
        <!--<ul>-->
        <!--@forms.data.Languages.all.map { language =>-->
        <!--<li class="lang"><label>@language</label><input type="checkbox" name="languages[]" value="@language"></li>-->
        <!--}-->
        <!--</ul>-->
        <!--</div>-->

        <div class="field">
            <label>Job Type</label>
            <ul class="contracts">
                @model.ContractType.all.map { contract =>
                <li class="radio">
                    <input type="radio" name="contractType" value="@contract.intValue">
                    <span>@contract.name</span>
                </li>
                }
            </ul>
        </div>

    </div>

    <div class="col-md-6">
        <h3>About you</h3>

        <div class="field">
            <label>Company Name</label>
            <input type="text" placeholder="E.g Facebook"/>
        </div>

        <div class="field">
            <label>Company Website</label>
            <input type="text" placeholder="E.g https://pinterest.com/jobs"/>
        </div>

        <h3>Location</h3>

        <div class="field">
            <label>City</label>
            <input type="text" placeholder="e.g New York"/>
        </div>

        <div class="field">
            <label>Country</label>
            <div>
                @jobs.countries()
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <input type="submit" class="button button-medium" value="Submit"/>
    </div>
</div>
}