@(jobs: Seq[model.Job])

@page("Hiring") {

<div class="search row">
    <div class="col-md-6">
        <input type="text" placeholder="Search e.g Haskell developer"/>
    </div>
    <div class="col-md-6">
        <input type="text" placeholder="Location e.g New York City"/>
    </div>
</div>

<h2>Hiring</h2>

<ul class="jobs">

    @jobs.map { job =>
    <li class="job">
        <div class="row">
            <div class="col-md-7">
                <h4><a href="/jobs/1">@job.title</a></h4>

                <p>@job.description</p>
            </div>
            <div class="location col-md-2">
                @job.location()
            </div>
            <div class="meta col-md-3">
                Scala, Java, Unix
                <p>@job.created</p>
            </div>
        </div>
    </li>
    }
</ul>

}
