@(jobs: Seq[model.Job])(implicit request: play.api.mvc.RequestHeader)

@import helpers._

@page("Hiring") {

    <div class="search col-md-12">
        <div class="col-md-6">
            <input type="text" placeholder="Search e.g Haskell developer"/>
        </div>
        <div class="col-md-6">
            <input type="text" placeholder="Location e.g New York City"/>
        </div>
    </div>

    <ul class="jobs">

        @jobs.map { job =>
            <li class="job">
                <div class="row">
                    <div class="col-md-7">
                        <h4><a href="@routes.Jobs.show(job.id.get)">@job.listingName</a></h4>
                    </div>
                    <div class="location col-md-2">
                        @job.location()
                    </div>
                    <div class="meta col-md-3">
                        @Format.humanDate(job.created)
                    </div>
                </div>
            </li>
        }
    </ul>

}
