@(job: model.Job)(implicit request: play.api.mvc.RequestHeader)

@import helpers.Format

@page("Job listing") {

    <h2>
        @job.employerInformation.map(_.name) is hiring a @job.title
    </h2>

    <p>Contract Type: @job.contractName</p>
    <p>Posted: @Format.humanDate(job.created)</p>

    @if(job.remote) {
        <p>Remote: Yes</p>
    } else {
        <p>Remote: No</p>
    }

    <div class="description">
        <h3>Description</h3>
        @Html(Format.formatInput(job.description))
    </div>

    <div class="skills">
        <h3>Skills</h3>
        @job.skills.map { skills =>
          @Html(Format.formatInput(skills))
        }
    </div>

}