@()(implicit request: play.api.mvc.RequestHeader)

@page("User profile") {

  <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/622740611070828544/gOAO0BxJ.jpg" />
      <h3>Contact Me</h3>
      <p>Email: owain[at]owainlewis.com</p>
      <p>Twitter: twitter.com/owainlewis</p>
  </div>

  <div class="col-md-9">

  <h1>Owain Lewis</h1>
  <h2>Senior Software Engineer </h2>

  <h3>About Me</h3>

  <p>A functional programmer working mainly with Haskell, Scala, Clojure and Go. My areas of interest are functional programming, microservice architecture, quant trading, artificial intelligence, distributed systems, startups and machine learning.</p>

  <h3>Skills</h3>

  <p>Interested in: Python, Haskell, Clojure</p>

  <p>Knowledge of: SQL, Cassandra, MicroServices, Golang, Hadoop</p>
  </div>

}