@(jobs: Seq[model.Job], employer: model.Employer)(implicit request: play.api.mvc.RequestHeader)

@import helpers.Format
@import analysis.JobAnalysis

@page(employer.name) {

    <div class="col-md-12 banner">
        <h1>@employer.name</h1>
    </div>

    @if(jobs.isEmpty) {
        <div class="info">
            <div class="col-md-12">
                We don't have any open vacancies listed here right now.
            </div>
        </div>
    } else {

        <div class="jobs">
            @jobs.map { job =>
            <div class="job">
                <a href="@routes.Jobs.show(job.slug)">
                    <h3 class="title">@job.title</h3>
                    <div class="tags">@JobAnalysis.tagsForJob(job).mkString(", ")</div>
                    <div class="meta">@job.location() @Format.humanDate(job.created)</div>
                </a>
            </div>
            }
        </div>
    }
}
