@import "color.less";

#header {
  background: #FFF;
  height: 72px;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.05);

  h1 { float: left; }
  ul { float: right; }
  li { display: inline; line-height: 72px; margin: 0 0 0 24px; color: #999 }

  a {
    color: @dark;
    font-weight: bold;
    &:hover { color: @dark; }
  }
}

#header h1 { margin: 0 0 0 24px; font-size: 24px; line-height: 72px; padding: 0; font-weight: bold; }

footer {
  background: @dark;
  padding: 96px 0;
}

#about {
  background: #FFF;
  padding: 96px 0;
}
