@()(implicit request: play.api.mvc.RequestHeader)

@main("Vacancy.io. All tech jobs, in one place") {

<div id="hero">
    <div class="overlay"></div>
    <div class="content">
        <h1>No Recruiters. Interesting jobs</h1>
        <h2>SELECT * FROM contracts WHERE language IN("Haskell", "Scala")</h2>
        <div class="actions">
            <a href="@routes.Jobs.index()" class="button button-large dark">View Jobs</a>
            <a href="@routes.Jobs.add()" class="button button-large">Add Job</a>
        </div>
    </div>
</div>

<section id="about" class="section">

    <div class="container">

        <div class="tagline col-md-12">
            <h2>Vacancy matches <strong>software engineers</strong> and <strong>designers</strong>
                with interesting companies and <strong>startups</strong></h2>
            <ul class="icons">
                <li><img src="assets/images/clojure.png" /></li>
                <li><img src="assets/images/hackage.png" /></li>
                <li><img src="assets/images/python.png" /></li>
                <li><img src="assets/images/ruby.png" /></li>
                <li><img src="assets/images/php.png" /></li>
                <li><img src="assets/images/go.png" /></li>
                <li><img src="assets/images/javascript.png" /></li>
                <li><img src="assets/images/java.png" /></li>
            </ul>
        </div>

        <div class="logos">

        </div>

        <div class="col-md-6">
            <h2>For developers</h2>
            <p>Traditional recruitment is a frustrating process filled with misinformation and hard to find data.
                As software developers we deserve something better. Vacancy collects high quality programming
                jobs (remote, contract, freelance and full time) from around the web and organizes them in one, easily searchable place.</p>
            <p>We even provide a simple JSON API for you to integrate into your own apps.</p>
        </div>

        <div class="col-md-6">
            <h2>For employers</h2>
            <p>Vacancy gives employers the chance to find great developers for their startup or business.
            </p>
            <p>It's free to start engaging with software engineers and programmers looking for new opportunities.</p>
        </div>
    </div>
</section>

}
