@main("Vacancy.io. All tech jobs, in one place") {

<section id="hero">
    <div class="overlay"></div>
    <div class="content">
        <h1>Work on interesting things</h1>

        <h2>Exciting full time, contract and remote jobs for developers</h2>
        <a class="button">Find your next job</a>
    </div>
</section>

<section id="about" class="section">
    <div class="container">
        <div class="col-md-8 col-md-push-2">

            <h2>Searching 24/7 to find tech jobs</h2>

            <p>Traditional recruitment is a frustrating process filled with misinformation and hard to find data.
                As software developers we deserve something better.
                We collect high quality programming
                jobs (remote, contract, startups and full time) from around the web and organize them in one, easily searchable place.</p>
        </div>
    </div>
</section>

}