@main("Vacancy.io. All tech jobs, in one place") {

<section id="hero">
    <div class="overlay"></div>
    <div class="content">
        <h1>Jobs for developers</h1>
        <h2>SELECT * FROM contracts WHERE language IN("Haskell", "Clojure")</h2>
        <div class="actions">
            <a href="" class="button button-large green">Candidates</a>
            <a href="@routes.Jobs.selection" class="button button-large">Employers</a>
        </div>
    </div>
</section>

<section id="about" class="section">
    <div class="container">
        <div class="col-md-8 col-md-push-2">

            <h2>Better recruitment</h2>

            <p>Traditional recruitment is a frustrating process filled with misinformation and hard to find data.
                As software developers we deserve something better. Vacancy collects high quality programming
                jobs (remote, contract, freelance and full time) from around the web and organizes them in one, easily searchable place.</p>
            <p>Create a profile and we'll send you only relevant jobs that match your interests</p>
        </div>
    </div>
</section>

}